.container {
    display: flex;
    background-color: #E5E5E5
    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 6rem;
    gap: 0.5rem;
    margin-top: 4rem;
}

.produtos {
    display: flex;
    min-width: min-content;
    gap: 1rem;

}